<p>Here we will convert the binary number {{.Binary}} to hexadecimal.</p>

<p>Break the binary number <span class="word-break">{{.Binary}}</span> into groups of 4 digits as such:<br>
{{range .GroupedBinary}}{{.}}{{end}}</p>

<p>Convert those groups (base 2) to a decimal number (base 10), that way it is easy to convert them to a Hexadecimal
number (base 16):<br>
{{.Proof}}</p>

<p class="word-break">Therefore:<br>
({{.Binary}})<sub>2</sub> = ({{.Answer}})<sub>16</sub></p>