<p>Here we will convert the hexadecimal number {{.Hexadecimal}} to binary.</p>

<p>Convert each hexadecimal digit manually to its binary equivalent:<br>
    Refer to the Conversion Table <a href="/networking/conversion-table" rel="noopener noreferrer"
                                     target="_blank">here</a>.<br>
    {{.Proof}}</p>

<p>Join the digit equivalents together from first to last:<br>
    {{.Binaries}}</p>

<p>Therefore:<br>
    {{.Answer}}</p>