<!DOCTYPE html>
<html lang="eng">

<!-- Head -->
<head>
    <!-- Title -->
    <title>{{block "title" .}}MathFever{{end}}</title>

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/public/img/favicon/favicon.ico">

    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="/public/css/style.css">

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-99327257-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>

<!-- Body -->
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base" onbeforeunload="">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <!-- Header -->
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span id="top-bar-title" class="mdl-layout-title">MathFever</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="{{ genRoute "home" }}">Home</a>
                <a class="mdl-navigation__link" href="{{ genRoute "message-board" }}">Message Board</a>
                <a class="mdl-navigation__link" href="{{ genRoute "about" }}">About</a>
                <a class="mdl-navigation__link" href="{{ genRoute "help" }}">Help</a>
            </nav>
        </div>
    </header>

    <!-- Drawer -->
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">MathFever</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{{ genRoute "home" }}">Home</a>
            <a class="mdl-navigation__link" href="{{ genRoute "message-board" }}">Message Board</a>
            <a class="mdl-navigation__link" href="{{ genRoute "about" }}">About</a>
            <a class="mdl-navigation__link" href="{{ genRoute "help" }}">Help</a>
        </nav>
    </div>

    <!-- Main -->
    <main class="mdl-layout__content">
        <!-- Whole Content Excl Header/Drawer-->
        <div id="page-content">

            <!-- CONTENT GOES HERE -->
            {{block "content" .}}{{end}}

        </div>

        <!-- Footer -->
        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="small-caps mdl-logo">© 2017 MathFever.xyz</div>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="{{ genRoute "help" }}">Help</a></li>
                    <li><a href="{{ genRoute "terms" }}">Terms of Use</a></li>
                    <li><a href="{{ genRoute "privacy" }}">Privacy</a></li>
                </ul>
            </div>
        </footer>
    </main>

</div>

<!-- JS -->
<script src="/public/js/form.js"></script>
<script src="/public/js/scripts.js"></script>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</body>

</html>