{{define "title"}}Page Not Found - MathFever{{end}}

{{define "content"}}
<!-- Page Content-->
<div class="mdl-grid">
    <div class="general-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--9-col
        mdl-shadow--2dp">
        <h2>Error 404 &rarr; This page doesn't exist.</h2>
        <h6>There's nothing here but us.</h6>
        <img class="error-img" src="/public/resource/img/error/404goat.jpg" width="500" alt="404">
    </div>
</div>
{{end}}