/*Base Template*/
#page-content {
    min-height: 90vh;
}

.mdl-mini-footer {
    margin-top: 50px;
}

.shadow {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

/*Home Template*/
.home-card {
    border: solid 1px #e4e4e4;
}

.home-card a {
    text-decoration: none;
    color: inherit;
}

.home-card--title {
    color: #fff;
    height: 176px;
}

.home-card--title a:hover, .home-card--text a:hover {
    text-decoration: underline;
}

/*Message Board Template*/
#disqus_thread {
    margin: 30px auto;
}

.round-img {
    max-width: 100%;
    border-radius: 15px;
}

/*Category Template*/
.category-calc-ul a:hover {
    text-decoration: underline;
}

/*Calculation Template*/
.calculation-page-heading a {
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Roboto Thin', sans-serif;
    font-weight: 200;
    text-decoration: none;
    color: inherit;
}

.calculation-page-heading a:hover {
    color: rgb(255, 64, 129);
}

.user-input-field {
    margin-left: 5%;
}

.calculation-button {
    margin-left: 5%;
    margin-top: 1%;
}

#loading-spinner-container {
    margin: auto;
    text-align: center;
    opacity: 0;
}

#calculation-card {
    opacity: 0;
}

.word-break {
    word-break: break-all;
}

.column-wrap {
    white-space: normal;
}

.fade-in {
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    animation-duration: 0.2s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*Error Templates*/
.error-img {
    width: 100%;
    border-radius: 15px;
}

/*Misc*/
.main-heading {
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Roboto Thin', sans-serif;
    font-weight: 200;
}

.small-caps {
    font-variant: small-caps;
}

.separator {
    margin-left: 1%;
    margin-right: 1%;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.general-content {
    margin: auto;
    padding: 20px 5%;
    overflow: auto;
}

.no-text-decoration {
    text-decoration: none;
}
